			:root { --canvasColor: #f9f9f9;}

			body { background: var(--canvasColor); font-family: "Poppins", sans-serif; font-weight: 300; line-height: 1.5;
				font-size: 16px; text-align: center; transition: all 0.3s ease; padding: 0 0 10px 0;}

			* { box-sizing: border-box;}

			main { --neutralShade0: #f8f8f8; --neutralShade1: #f2f2f2; --neutralShade2: #e8e9e9; --neutralShade3: #d1d3d4;
				--neutralShade4: #babdbf; --neutralShade5: #808488; --neutralShade6: #666a6d; --neutralShade7: #4d5052;
				--neutralShade8: #212122; --grayColor: #999; --lightGrayColor: #ddd; --borderRadius: 6px;
				--boxShadow: 0 2px 5px rgba(#333, 0.2); }

			/*overall layout*/
			main { width: 95%; margin: 1em auto 0; max-width: 1500px; color: var(--foregroundColor); text-align: left;}
			main section { position: relative;}
			
			/*Floating Button*/
			div.about > a {margin: 0; padding: 0; list-style: none; border: 0; -webkit-tap-highlight-color: transparent;
				text-decoration: none; color: inherit;}
			.about { position: fixed; z-index: 10; bottom: 10px; right: 10px; width: 40px; height: 40px; display: flex;
				justify-content: flex-end; align-items: flex-end; transition: all 0.2s ease;}
			.about .bg_links { width: 40px; height: 40px; border-radius: 100%; display: flex; justify-content: center;
				align-items: center; background-color: rgba(0, 0, 0, 0.2); border-radius: 100%;
				backdrop-filter: blur(5px); position: absolute;}
			.about .logo { width: 40px; height: 40px; z-index: 9; background: url(https://cdn-icons-png.flaticon.com/256/11654/11654463.png);
				background-size: 55%; background-repeat: no-repeat; background-position: 10px 7px; opacity: 0.9;
				transition: all 1s 0.2s ease; bottom: 0; right: 0;}
			.about .social { opacity: 0; right: 0; bottom: 0;}
			.about .social .icon { width: 100%; height: 100%; background-size: 20px; background-repeat: no-repeat;
				background-position: center; background-color: transparent; display: flex;
				transition: all 0.2s ease, background-color 0.4s ease; opacity: 0; border-radius: 100%;}
			.about .social.portfolio { transition: all 0.8s ease;}
			.about .social.portfolio .icon { background-image: url(https://cdn.iconscout.com/icon/free/png-128/free-sharepoint-logo-icon-download-in-svg-png-gif-file-formats--microsoft-window-office-pack-logos-icons-1194341.png?f=webp);}
			.about .social.dribbble { transition: all 0.3s ease;}
			.about .social.dribbble .icon { background-image: url(https://static.vecteezy.com/system/resources/thumbnails/023/986/480/small_2x/youtube-logo-youtube-logo-transparent-youtube-icon-transparent-free-free-png.png);}
			.about .social.linkedin { transition: all 0.8s ease;}
			.about .social.linkedin .icon { background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Github-desktop-logo-symbol.svg/2048px-Github-desktop-logo-symbol.svg.png);}
			.about:hover { width: 105px; height: 105px; transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);}
			.about:hover .logo { opacity: 1; transition: all 0.6s ease;}
			.about:hover .social { opacity: 1;}
			.about:hover .social .icon { opacity: 0.9;}
			.about:hover .social:hover { background-size: 28px;}
			.about:hover .social:hover .icon { background-size: 65%; opacity: 1;}
			.about:hover .social.portfolio { right: 0; bottom: calc(100% - 40px);
				transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);}
			.about:hover .social.portfolio .icon:hover { background-color: #698fb7;}
			.about:hover .social.dribbble { bottom: 45%; right: 45%; transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);}
			.about:hover .social.dribbble .icon:hover { background-color: #ea4c89;}
			.about:hover .social.linkedin { bottom: 0;right: calc(100% - 40px);
				transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);}
			.about:hover .social.linkedin .icon:hover { background-color: #0077b5;}

			/*typography*/
			strong { font-weight: 500;}
			em { font-style: italic;}
			h1 { font: 700 48px/1.2 "Poppins", sans-serif;}
			h2 { font: 700 24px/1.2 "Poppins", sans-serif;}
			h3 { font: 700 14px/1.2 "Poppins", sans-serif; margin-top: 0px; margin-bottom: 5px;}
			h4 { font: 700 13px/1.2 "Poppins", sans-serif;}
			h5 { font: 700 min(12px, 1.8vw)/1.2 "Poppins", sans-serif; margin-top: 0px; margin-bottom: 0px;}
			h1, h2, h4 {margin-bottom: 5px}
			h6 { font: 700 18px/1.2 "Poppins", sans-serif;}


			/*checkboxes*/
			input:disabled ~ * { opacity: 0.3; user-select: none; pointer-events: none;}
			.checkbox { position: relative; user-select: none; margin-bottom: 10px;}
			.checkbox input {display: none;}
			.checkbox label {position: relative; vertical-align: middle; cursor: pointer; font-weight: 500; padding-left: 35px;}
			.checkbox span.box {display: inline-block; width: 20px; border-radius: var(--borderRadius);
				border: 1px solid var(--grayColor); width: 24px; height: 24px; vertical-align: middle;
				margin-right: 3px; transition: 0.3s ease; position: absolute; left: 0;}
/*			.checkbox span.box:before, .checkbox span.box:after { content: ""; position: absolute; width: 4px; height: 16px;
				border-radius: 40px; background: var(--backgroundColor); transition: all 0.3s ease;}
			.checkbox span.box:before { transform: rotate(45deg) translateY(-5px) translateX(10px) scale(0);}
			.checkbox span.box:after { height: 8px; transform: rotate(-45deg) translateY(10px) translateX(-4px) scale(0);}
			.checkbox input:checked + label span.box:before { transform: rotate(45deg) translateY(-5px) translateX(10px) scale(1);}
			.checkbox input:checked + label span.box:after { height: 8px;
				transform: rotate(-45deg) translateY(10px) translateX(-4px) scale(1);}
			.checkbox input:disabled:checked ~ label:before, .checkbox input:disabled:checked ~ label:after {
				background: black;}
*/
			.checkbox input:checked + label span.box { background: var(--accent2Color); border-color: var(--accent2Color);}
			.checkbox input:disabled:checked + span.box {background: var(--grayColor); border: var(--grayColor);}

			/*buttons & links*/
			.buttons { display: flex; flex-wrap: wrap; align-items: center;}
			.buttons > * { flex: 1 1 calc(50% - 20px); margin-top: 20px;}
			.buttons > *:nth-child(odd) { margin-right: 20px;}

			a.button { outline: none; width: 100%; height: 100%; text-align: center; display: inline-block; border: none;transition: 0.2s ease;
				font: 500 max(1vw, 10px)/1 "Poppins", sans-serif; padding: 8px 10px; cursor: pointer; border-radius: var(--borderRadius);
				background: var(--primaryColor); color: var(--backgroundColor); position: relative; top: 0;}
			a.button:hover, a.button.hover {top: -3px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);}
			a.button:active, a.button.active{background: var(--primaryShade4); outline: none;
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); top: 0;}
			a.button.disabled, input.button.disabled, button.disabled { opacity: 0.4; user-select: none; pointer-events: none;}


			/*badges*/
			.badge { display: inline-block; padding: 6px 12px; border-radius: 50px; font-weight: 500; text-transform: uppercase;
				line-height: 1;}

			.status-primary { background: var(--primaryShade1); color: var(--primaryShade5);}
			.status-primary:before, .status-primary:after { background: var(--primaryShade5);}

			/*tooltips*/
			.tooltip { cursor: pointer; position: relative; display: block; width: 100%; text-align: center; z-index: 10;}
			.tooltip span { border-bottom: 1px dotted; }
			.tooltip:after { content: attr(data-tooltip); background: var(--neutralShade2); max-width: 90%; width: auto;
				position: absolute; left: 0; right: 0; margin: auto; opacity: 0; height: auto; font-size: 14px;
				padding: 10px; border-radius: var(--borderRadius); color: var(--foregroundColor); text-align: center;}
			.tooltip.dark:after { background: var(--neutralShade7); color: var(--backgroundColor);}
			.tooltip.top:after { bottom: 80%;
				transition: opacity 0.3s ease 0.3s, bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;}
			.tooltip.top:hover:after, .tooltip.top.hovered:after {  bottom: 130%; opacity: 1;}
			.tooltip.bottom:after { top: 80%;
				transition: opacity 0.3s ease 0.3s, top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;}
			.tooltip.bottom:hover:after, .tooltip.bottom.hovered:after { top: 130%; opacity: 1;}

			/*variations*/
			input.variation { display: none;}
			input.variation + label { display: inline-block; width: 4vw; height: 4vw; margin: 10px 2vw; border-radius: 50%;
				cursor: pointer; border: 0.4vw solid #fff; box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);}

			#bluepurple + label { background: linear-gradient(to left, #673ab7 50%, #03a9f4 50%);}
			#bluepurple:checked ~ main { --backgroundColor: #fff; --foregroundColor: #111; --primaryColor: #03a9f4;
				--primaryShade1: #e1f5fe; --primaryShade2: #b3e5fc; --primaryShade3: #4fc3f7; --primaryShade4: #0288d1;
				--primaryShade5: #0277bd; --secondaryColor: #673ab7; --secondaryShade1: #ede7f6;--secondaryShade5: #311b92;
				--accentColor: #009688; --accentShade1: #e0f2f1;--accentShade2: #b2dfdb;--accent2Color: #8bc34a;}

			#sunset + label { background: linear-gradient(to right, #ff9557 50%, #ffcc67 50%);}
			#sunset:checked ~ main { --canvasColor: #f9f9f9;--backgroundColor: #fff;--foregroundColor: #111;
				--primaryColor: #ff9557;--primaryShade1: #ffe2d1;--primaryShade2: #ffceb2;--primaryShade3: #ffb184;
				--primaryShade4: #e88850;--primaryShade5: #d17a48;--secondaryColor: #ffcc67;--secondaryShade1: #fff1d5;
				--secondaryShade5: #ba954b;--accentColor: #4e5166; --accentShade1: #cecfd5;--accentShade2: #aeafb9;
				--accent2Color: #588b8b;}

			#godiva + label {background: linear-gradient(to right, #a05793 50%, #a3d858 50%);}
			#godiva:checked ~ main {--canvasColor: #f9f9f9;--backgroundColor: #fff;--foregroundColor: #111;
				--primaryColor: #a05793;--primaryShade1: #e5d1e1;--primaryShade2: #d3b2cd;--primaryShade3: #b984b0;
				--primaryShade4: #925086;--primaryShade5: #834879;--secondaryColor: #a3d858;--secondaryShade1: #e5f4d1;
				--secondaryShade5: #779e41;--accentColor: #245e71;--accentShade1: #d7e1e5;--accentShade2: #afc4cb;
				--accent2Color: #2aa5a1;}

			#dark + label { background: linear-gradient(to right, #367bc3 50%, #38bfa7 50%);}
			#dark:checked ~ main {--canvasColor: #2a313b;--backgroundColor: #2a313b;--foregroundColor: #ebe8d8;
				--primaryColor: #367bc3;--primaryShade5: #b5cfe9;--primaryShade4: #91b7de;--primaryShade3: #5a93cd;
				--primaryShade2: #3270b2;--primaryShade1: #285a8e;--secondaryColor: #38bfa7;--secondaryShade5: #c8ede7;
				--secondaryShade1: #2e9d89;--accentColor: #586994;--accentShade2: #49567a;--accentShade1: #39435f;
				--accent2Color: #8fe1a2;;}
			#dark:checked ~ main > section { border-color: #f1f2eb;}
			#dark:checked ~ main > section > h6 { color: #f1f2eb;}

			#pinkaru + label { background: linear-gradient(to right, #f95794 50%, #323da5 50%);}
			#pinkaru:checked ~ main {border-color: #fff;--canvasColor: #2a313b;--backgroundColor: #2a313b;
				--foregroundColor: #e3f2fd;--primaryColor: #f95794;--primaryShade5: #fdd1e1;--primaryShade4: #fba3c4;
				--primaryShade3: #fa75a7;--primaryShade2: #e35087;--primaryShade1: #b6406c;--secondaryColor: #323da5;
				--secondaryShade5: #c7cae6;--secondaryShade1: #293288;--accentColor: #ffc729;--accentShade2: #e8b526;
				--accentShade1: #d1a322;--accent2Color: #53dd6c;}
			#pinkaru:checked ~ main > section {border-color: #fff;}
			#pinkaru:checked ~ main > section > h6 { color: #fff;}

			#dark:checked ~ main ::placeholder, #pinkaru:checked ~ main ::placeholder { color: var(--neutralShade4); opacity: 1;}
			#dark:checked ~ main :-ms-input-placeholder, #pinkaru:checked ~ main :-ms-input-placeholder {
				color: var(--neutralShade4);}
			#dark:checked ~ main ::-ms-input-placeholder, #pinkaru:checked ~ main ::-ms-input-placeholder { 
				color: var(--neutralShade4);}
			#dark:checked ~ main .tooltip:after, #pinkaru:checked ~ main .tooltip:after { color: var(--backgroundColor);}
			#dark:checked ~ main a.button, #dark:checked ~ main input.button, #dark:checked ~ main button,
				#dark:checked ~ main .tooltip.dark:after, #pinkaru:checked ~ main a.button,
				#pinkaru:checked ~ main input.button, #pinkaru:checked ~ main button,
				#pinkaru:checked ~ main .tooltip.dark:after {color: var(--foregroundColor);
				text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);}
			#dark:checked ~ main .button:active, #dark:checked ~ main .button.active, #pinkaru:checked ~ main .button:active,
				#pinkaru:checked ~ main .button.active { background: var(--primaryShade1);}

			#dark:checked ~ main .profile-default img, #pinkaru:checked ~ main .profile-default img {
				border-bottom: 7px solid var(--secondaryShade5);}

			/* PROFILE CARDS */
			.results-header { grid-column: span 2; display: grid; grid-template-columns: 1fr max-content;}
			.results-header__option { display: grid; grid-gap: 0.6vw; grid-template-columns: repeat(2, 1fr); cursor: pointer;}
			.results-header .option__button { display: grid; grid-gap: 5px; width: 55px; height: 75px;
				border-radius: var(--borderRadius); padding: 10px; overflow: hidden; transition: 0.2s ease;}
			.results-header .option__button > span { background: var(--foregroundColor); transition: 0.2s ease;}
			.results-header .option__button > span:last-child { background: none !important; text-align: center;
				text-transform: uppercase; font: 500 14px/1 "Poppins", sans-serif; display: block; margin-top: 2px;}
			.results-header .option__button:hover > span { color: var(--primaryShade5); background: var(--primaryShade5);}
			.results-header .option__button.selected > span { color: var(--primaryColor); background: var(--primaryColor);}
			.results-header .option--grid { grid: repeat(2, 1fr) min-content/repeat(2, 1fr);}
			.results-header .option--grid span:last-child { grid-column: span 2;}
			.results-header .option--list { grid: repeat(3, 1fr) min-content/100%;}

			.results-section { display: grid;}
			.results--grid { grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));}
			.results-section.results--grid {grid-gap: 20px;}
			.results--list {grid-template-columns: 100%; grid-template-rows: repeat(auto-fill, minmax(55px, 1fr));}
			.results-section.results--list {grid-gap: 5px;}
			.results-section.results--list p {line-height: 1;}

			.profile { position: relative; background: var(--backgroundColor); color: var(--foregroundColor);
				box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2); border-radius: 10px; overflow: hidden;
				transition: 0.2s ease; display: grid; grid : 150px 60px 35px 40px/repeat(2, minmax(80px, 1fr));}
			.pImage img { width: 100%; height: 100%; object-fit: cover; border-bottom: 7px solid var(--secondaryColor);
				pointer-events: none;}
			.pImage { grid-column: span 2;}
			.pInfo { padding: 5px 5px 0;grid-column: span 2;}
			.pInfo p { font-size: 12px; font-weight: 400; margin: 0px;}
			.pStats { padding: 0px 25px;}
			.pStats p { color: var(--grayColor); text-transform: uppercase; font-size: min(10px, 1.8vw); margin: 0px;}
			.pLink { padding: 5px 10px;grid-column: span 2;}
			.profile a:hover { top: 0; box-shadow: none; background: var(--primaryShade4);}
			.profile a:active, .profile a:focus { top: 0; box-shadow: none; background: var(--primaryShade5);}

			#dark:checked ~ main a.button, #pinkaru:checked ~ main a.button { color: var(--foregroundColor);
				text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);}
			#dark:checked ~ main .button:hover, #pinkaru:checked ~ main .button:hover { background: var(--primaryShade2);}
			#dark:checked ~ main .button:active, #pinkaru:checked ~ main .button:active { background: var(--primaryShade1);}
			#dark:checked ~ main .profile-default img, #pinkaru:checked ~ main .profile-default img {
				border-bottom: 7px solid var(--secondaryShade5);}
			#dark:checked ~ main .results-header .option__button.selected > span, #pinkaru:checked ~ main .results-header 						.option__button.selected > span { color: var(--primaryShade3); background: var(--primaryShade3);}

			/*FILTERS*/
			.filter-section { margin: 2em 0;}

			.filters__title { font-size: 18px; color: var(--grayColor); margin: 20px 0;}
			.filters__item { display: grid; grid-template-columns: 1fr auto; align-items: center; margin-bottom: 10px;}
			.filters__item .checkbox { position: relative; margin: 0;}
			.filters__item .checkbox .tooltip { display: inline-block; margin-left: 10px; width: auto; vertical-align: middle;}
			.filters__item .checkbox .tooltip span { border: none;}
			.filters__item .checkbox .tooltip:after { min-width: 100px; margin-left: -50px;}
			.filters:not(:first-of-type) { border-top: 0.5px solid var(--lightGrayColor); margin-top: 25px;}
			@media screen and (orientation: portrait) {
				h1 {font-size: 32px;}
				h6 {font-size: 16px;}
				.results-header .option__button {grid-gap: 2px; width: 30px; height: 43px; padding: 5px;}
				.results-header .option__button > span:last-child {font-size: 8px; margin-top: 1px;}
				.filters__title { font-size: 16px;margin: 5px 0;}
				.filters__item {margin-bottom: 2px;}
				.checkbox span.box {width: 20px; border-radius: 4px; width: 15px; height: 15px; vertical-align: middle;
				margin-right: 3px; position: absolute; top: 0;}
				.checkbox label {font-size: 12px;}
				.badge { padding: 3px 6px; border-radius: 10px; font-size: 12px;}
			}

			@media (min-width: 500px) and (max-width: 992px) {
				.filter-section { display: grid; grid-template-columns: repeat(2, 1fr);}
				.filter-section h6 { grid-column: span 2;}
				.filters:nth-child(2) { margin-right: 25px; }
				.filters:nth-child(3) { border-top: none; border-left: 0.5px solid var(--lightGrayColor);
					margin-top: 0; padding-left: 25px;}
			}
			@media (min-width: 500px) {
				input.variation + label { margin: 10px 2vw;  }
				.results-section.results--grid .profile { width: 100%; margin: auto; overflow: hidden;
					grid: 150px 75px 30px 40px/repeat(2, minmax(80px, 1fr)); grid-gap: 1px;}
				.results-section.results--grid .pImage { grid-column: span 2;}
				.results-section.results--grid .pInfo { grid-column: span 2;}
				.results-section.results--grid .pStats { padding: 0px 25px;}
				.results-section.results--grid .pLink { grid-column: span 2;}
			}
			@media (min-width: 768px) {
				.results-section.results--list .profile { grid-template-columns: 15% 50% 10% 10% 15%;
					grid-template-rows: 55px; width: 100%; height: 55px; padding-right: 10px;}
				.results-section.results--list {grid-gap: 5px;}
				.results-section.results--list .pImage {grid-column: 1;margin-right: 20px;}
				.results-section.results--list .pImage img {border-radius: 10px 0 0 10px; border: none; object-fit: fill;}
				.results-section.results--list .pInfo {grid-column: 2;padding: 5px 20px 5px 0;}
				.results-section.results--list .pStats { min-width: 100px; padding: 5px 0;}
				.results-section.results--list .pStats:nth-child(3) { grid-column: 3;}
				.results-section.results--list .pStats:nth-child(4) { grid-column: 4;}
				.results-section.results--list .pLink {grid-column: 5; padding: 5px; margin: 5px 0px; align-items: center;}
			}
			/* @media (max-width: 768px) { .results-header__option { display: none;}} */

			@media (max-width: 768px) {
				.results-section.results--list .profile { grid-template-columns: 75% 25%;
					grid-template-rows: 55px; width: 100%; height: 55px; padding-right: 5px;}
				.results-section.results--list .pImage { display: none;}
				.results-section.results--list .pStats { display: none;}
				.results-section.results--list .pInfo {grid-column: 1;padding: 5px;}
				.results-section.results--list .pLink {grid-column: 2; padding: 5px ; margin: 5px 0px; justify-items: center;}
			}
			@media (min-width: 992px) {
				main { display: grid; grid: min-content auto/minmax(250px, 18%) 1fr; grid-gap: 40px;}
				.filter-section__wrapper { position: relative;}
				.filter-section { position: sticky; top: 30px;}
				.results-section { margin-left: 2em;}
			}
			.inti {}
